<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="#">Image Processing Tool</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav  mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/dashboard']">
            <i class="fa fa-home"></i>
            Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/usermanager']">
            <i class="fa fa-user"></i>User Manager<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/logout']">
            <i class="fa fa-sign-out-alt"></i>Logout<span class="sr-only">(current)</span></a>
        </li>
          </ul>
        </div>
  

</div>
</nav>