<app-navbar></app-navbar>

<div class="container">
  
<div class="row justify-content-center">
<div class="col-md-6">
  <div class="admin_area">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <h2>User Management</h2>
      <hr class="formhr">
      <div *ngIf="show" class="alert alert-success">
          Done!Your request execute successfully.
      </div>
      <div *ngIf="errorshow" class="alert alert-danger">
        <p>Oops!!There are some problem,contact with your admin.</p>
      </div>
      <div *ngIf="duplicatedata" class="alert alert-danger">
          <p>Oops!!The username have already taken.</p>
        </div>
      <div class="form-group">
        <label for="firstname">First Name:</label>
        <input type="text" class="form-control" id="firstname" required name="firstname" placeholder="User First Name"  [(ngModel)]="firstname" #firstnameCtrl="ngModel" >
        <div *ngIf="!firstnameCtrl.valid && firstnameCtrl.touched">
          <div *ngIf="firstnameCtrl.errors.required">
            <p class="formerror">*We Need this Field.</p>
          </div>
        </div>
      </div>
      <div class="form-group">
          <label for="lastname">Last Name:</label>
          <input type="text" class="form-control" id="lastname" required name="lastname" placeholder="User Last Name"  [(ngModel)]="lastname" #lastnameCtrl="ngModel" >
          <div *ngIf="!lastnameCtrl.valid && lastnameCtrl.touched">
            <div *ngIf="lastnameCtrl.errors.required">
              <p class="formerror">*We Need this Field.</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" required name="username" placeholder="An unque User Name"  [(ngModel)]="username" #usernameCtrl="ngModel" >
          <div *ngIf="!usernameCtrl.valid && usernameCtrl.touched">
            <div *ngIf="usernameCtrl.errors.required">
              <p class="formerror">*We Need this Field.</p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="userpassword">User Password:</label>
          <input type="password" class="form-control" required name="userpassword" placeholder="Choose a Password" [(ngModel)]="userpassword" #userpasswordCtrl="ngModel" >
          <div *ngIf="!userpasswordCtrl.valid && userpasswordCtrl.touched">
            <div *ngIf="userpasswordCtrl.errors.required">
              <p class="formerror">*We Need this Field.</p>
            </div>
          </div>
        </div> 
        <div class="form-group">
          <label for="location">Location:</label>
          <input type="text" class="form-control" required name="location" placeholder="User Location" [(ngModel)]="location" #locationCtrl="ngModel" >
          <div *ngIf="!locationCtrl.valid && locationCtrl.touched">
            <div *ngIf="locationCtrl.errors.required">
              <p class="formerror">*We Need this Field.</p>
            </div>
          </div>
        </div> 




      <button 
      type="submit" 
      class="btn btn-lg btn-success btn-block" 
      name="submtime" 
      value="Sign In"
      [disabled]="!f.valid">
      <i class="fa fa-user"></i> Add User</button>
      
    </form>
  </div>
  </div>
</div>
  <hr>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="mytable mt-4"> 
        <table id="admindashboard" class="table table-bordered" datatable [dtTrigger]="dtTrigger" datatable [dtOptions]="dtOptions">
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Username</th>
                  <th>Password</th>
                  <th>Location</th>
                  <th>Action</th>
                  <th>Delete</th>
              </tr>
          </thead>
          <tbody >
              <tr *ngFor="let item of users$">
                  <td>{{item.firstname}} {{item.lastname}}</td>
                  <td>{{item.username}}</td>
                  <td>{{item.password}}</td>
                  <td>{{item.location}}</td>
                  <td><button type="button"  class="btn btn-success" (click)="updateuser(item)">
                      Update</button></td>
                      <td><button type="button"  class="btn btn-danger" (click)="deleteuser(item)">
                        Delete</button></td>
                </tr>
          </tbody>
           <tfoot>
              <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Password</th>
                <th>Location</th>
                <th>Action</th>
                <th>Delete</th>
              </tr>
          </tfoot>
          </table>
        </div> 
    </div>
  </div>  




       
  </div>

<!-- <app-footer></app-footer> -->


